html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    font-family: Inter, Helvetica, Arial, sans-serif;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-family: Pattaya, Inter, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 40px;
}

input {
    border-style: solid;
}