body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    background-image:
        radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 0 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 50% 100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
        radial-gradient(circle at 0 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
    background-size: 200px 100px;
}

#panel {
    padding: 30px;
    background: #FEFEFE;
    box-shadow: 0px 2px 4px rgba(10, 10, 10, 0.3);
    font-family: Inter, Helvetica, Arial, sans-serif;
    border-radius: 15px;
}

#panel > * {
    display: block;
}

#title {
    text-align: center;
    font-weight: lighter;
}

label {
    font-size: large;
}

input {
    font-size: larger;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    background: #FAFAFA;
}

input:hover,
input:focus {
    background: #EDEDED;
}