body {
    justify-content: center;
    background:
        linear-gradient(teal, transparent),
        linear-gradient(to top left, purple, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}

#panel {
    min-width: 400px;
    padding: 30px;
    background: #FDFDFD;
    box-shadow: 0px 2px 4px rgba(10, 10, 10, 0.3);
    font-family: Inter, Helvetica, Arial, sans-serif;
    border-radius: 15px;
}

#panel > * {
    display: block;
}

label {
    font-size: larger;
}

input[name="f-name"],
input[name="l-name"] {
    width: 70%;
}

input {
    font-size: large;
    width: 90%;
    border-radius: 5px;
    padding: 7px;
    margin: 10px 0px 10px 0px;
    background: #FAFAFA;
}

input:hover,
input:focus {
    background: #EDEDED;
}